* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  @media screen and (min-width: 112em) {
    html {
      font-size: 75%; } }
  @media screen and (max-width: 82em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 69em) {
    html {
      font-size: 52%; } }
  @media screen and (max-width: 57em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 44em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media screen and (max-width: 69em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  75% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX; }
  75% {
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  transition: all 0.3s; }
  @media screen and (max-width: 44em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(2deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }

.marg-bottom-small {
  margin-bottom: 1.5rem; }

.marg-bottom-med {
  margin-bottom: 4rem; }

.marg-top-small {
  margin-top: 1.5rem; }

.marg-top-big {
  margin-top: 10rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.253); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translate(-1px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.253); }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn-green {
  background-color: #55c57a;
  color: #fff; }
  .btn-green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-animated {
  animation: moveInBottom 0.6s ease-out 0.75s backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  margin-top: auto;
  transition: all 0.3s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.808), rgba(40, 180, 133, 0.774)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative; }
  @media screen and (max-width: 38em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 65vh, 0% 100%);
      height: 75vh; } }
  .header-logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }

.logo {
  height: 3.5rem; }

.header-text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden; }
  .heading-primary-main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s;
    animation-timing-function: ease-out; }
    @media screen and (max-width: 38em) {
      .heading-primary-main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading-primary-sub {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s;
    animation-timing-function: ease-out; }
    @media screen and (max-width: 38em) {
      .heading-primary-sub {
        letter-spacing: 0.5rem; } }

.section-about-content-composition {
  flex: 0 1 50%;
  position: relative; }
  .section-about-content-composition:hover .composition-photo:not(:hover) {
    transform: scale(0.95); }

.composition-photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  transition: all 0.3s;
  outline-offset: 1.5rem; }
  @media screen and (max-width: 38em) {
    .composition-photo {
      width: 35vw; } }
  .composition-photo:hover {
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
    z-index: 2;
    outline: 1.5rem solid #55c57a; }

.comp-photo-1 {
  left: 0%;
  top: -2rem;
  z-index: 1; }

.comp-photo-2 {
  right: 0%;
  top: 2rem;
  z-index: 1; }

.comp-photo-3 {
  left: 20%;
  top: 10rem;
  z-index: 1; }

.card {
  perspective: 130rem;
  -moz-perspective: 130rem;
  position: relative;
  height: 51vh;
  flex: 1; }
  .card-side-a {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s ease;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    overflow: hidden; }
    .card-side-a .card-picture {
      background-size: cover;
      height: 45%;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card-side-a.card-1 .card-picture {
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url(./../img/nat-5.jpg); }
    .card-side-a.card-2 .card-picture {
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url(./../img/nat-6.jpg); }
    .card-side-a.card-3 .card-picture {
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url(./../img/nat-7.jpg); }
    .card-side-a .card-heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      text-align: right;
      top: 28%;
      right: 1%;
      width: 80%; }
      @media screen and (max-width: 69em) {
        .card-side-a .card-heading {
          font-size: 2rem; } }
      .card-side-a .card-heading-span-1 {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
        @media screen and (max-width: 69em) {
          .card-side-a .card-heading-span-1 {
            padding: 0.5rem 1rem; } }
      .card-side-a .card-heading-span-2 {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
        @media screen and (max-width: 69em) {
          .card-side-a .card-heading-span-2 {
            padding: 0.5rem 1rem; } }
      .card-side-a .card-heading-span-3 {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
        @media screen and (max-width: 69em) {
          .card-side-a .card-heading-span-3 {
            padding: 0.5rem 1rem; } }
    .card-side-a .card-details {
      margin-top: 1rem;
      padding: 3rem;
      display: flex;
      justify-content: center; }
      .card-side-a .card-details ul {
        list-style: none;
        width: 80%; }
        .card-side-a .card-details ul li {
          text-align: center;
          font-size: 1.5rem;
          padding: 1rem; }
          .card-side-a .card-details ul li:not(:last-of-type) {
            border-bottom: 1px solid #eee; }
      @media screen and (max-width: 38em) {
        .card-side-a .card-details {
          padding: 2rem 1rem 0rem; }
          .card-side-a .card-details ul li {
            padding: 0.8rem; } }
  .card-side-b {
    transform: rotateY(180deg);
    transition: all 0.8s ease;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 3px; }
    .card-side-b.card-1 {
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
    .card-side-b.card-2 {
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
    .card-side-b.card-3 {
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
    .card-side-b .card-cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 8rem; }
      @media screen and (max-width: 57em) {
        .card-side-b .card-cta {
          height: 51vh; } }
      .card-side-b .card-cta .card-price-box {
        text-align: center;
        color: #fff; }
      .card-side-b .card-cta .only {
        font-size: 1.44rem;
        text-transform: uppercase; }
      .card-side-b .card-cta .price {
        font-size: 6rem;
        font-weight: 100; }
  .card:hover .card-side-a {
    transform: rotateY(-180deg); }
  .card:hover .card-side-b {
    transform: rotateY(0deg); }

.story {
  width: 100%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media screen and (max-width: 38em) {
    .story {
      transform: skewX(-4deg); } }
  .story > * {
    transform: skewX(12deg); }
    @media screen and (max-width: 38em) {
      .story > * {
        transform: skewX(4deg); } }
  .story-shape {
    position: relative;
    float: left;
    height: 15rem;
    width: 15rem;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    margin-right: 2rem; }
    .story-shape-image {
      height: 100%;
      transform: translateX(-4rem) scale(1.2);
      backface-visibility: hidden;
      transition: all 0.5s ease; }
    .story-shape .story-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%);
      color: #fff;
      text-transform: uppercase;
      font-size: 1.7rem;
      opacity: 0;
      text-align: center;
      transition: all 0.5s ease;
      backface-visibility: hidden; }
  .story-text {
    flex-direction: column;
    row-gap: 1.5rem; }
  .story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story-shape-image {
    transform: translateX(-4rem) scale(1);
    filter: blur(2px) brightness(85%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -99;
  opacity: 0.2; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem; }
  .form-group {
    display: inline-block; }
  .form-input {
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s; }
    .form-input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
      .form-input:focus:invalid {
        border-bottom: 3px solid red; }
    .form-input::-webkit-input-placeholder {
      color: #999; }
  .form-label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block; }
  .form-group-radio {
    display: inline-block; }
    .form-group-radio:not(:last-of-type) {
      margin-right: 1.5rem; }

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  transition: all 0.4s ease; }

.form-radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 1rem; }

.form-radio-button {
  height: 3rem;
  width: 3rem;
  border: 4px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: relative; }
  .form-radio-button::after {
    content: "";
    display: inline-block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #55c57a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;
    backface-visibility: hidden; }

.form-radio-input {
  display: none; }

.form-radio-input:checked + .form-radio-label .form-radio-button::after {
  opacity: 1; }

.feature-box {
  flex: 0 0 20%;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s; }
  @media screen and (max-width: 38em) {
    .feature-box {
      flex: 0 0 1%; } }
  .feature-box-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.25); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem; }
  @media screen and (max-width: 57em) {
    .footer {
      padding: 8rem 0; } }
  .footer-logo {
    width: 15rem; }
  .footer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    @media screen and (max-width: 57em) {
      .footer-container {
        flex-direction: column;
        row-gap: 2rem; } }
  .footer-navigation {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block; }
  .footer-list {
    list-style: none; }
  .footer-item {
    display: inline-block; }
    .footer-item:not(:last-of-type) {
      margin-right: 1.5rem; }
  .footer-link:link, .footer-link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s; }
  .footer-link:hover, .footer-link:active {
    color: #55c57a;
    transform: scale(1.1); }
  .footer-copyright {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block;
    text-align: center; }

.navigation {
  position: relative; }
  .navigation-checkbox {
    display: none; }
  .navigation-button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    z-index: 100;
    position: fixed;
    top: 6rem;
    right: 6rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    @media screen and (max-width: 69em) {
      .navigation-button {
        top: 3rem;
        right: 5rem; } }
  .navigation-background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(#7ed56f, #28b485);
    position: fixed;
    z-index: 98;
    top: 6.5rem;
    right: 6.5rem;
    transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1); }
    @media screen and (max-width: 69em) {
      .navigation-background {
        top: 3.5rem;
        right: 5.5rem; } }
  .navigation-nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1); }
  .navigation-list {
    list-style: none;
    text-align: center; }
  .navigation-item {
    margin: 1rem; }
  .navigation-link:link, .navigation-link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%;
    transition: all 0.4s ease; }
  .navigation-link:hover, .navigation-link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  .navigation-link span {
    margin-right: 1.5rem; }
  .navigation-checkbox:checked ~ .navigation-background {
    transform: scale(80); }
  .navigation-checkbox:checked ~ .navigation-nav {
    visibility: visible;
    opacity: 1; }
  .navigation-icon {
    position: relative; }
    .navigation-icon, .navigation-icon::before, .navigation-icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation-icon::before, .navigation-icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s ease; }
    .navigation-icon::before {
      top: -0.8rem; }
    .navigation-icon::after {
      top: 0.8rem; }
  .navigation-button:hover .navigation-icon::before {
    top: -1.1rem; }
  .navigation-button:hover .navigation-icon::after {
    top: 1.1rem; }
  .navigation-checkbox:checked + .navigation-button .navigation-icon {
    background-color: transparent; }
  .navigation-checkbox:checked + .navigation-button .navigation-icon::after {
    transform: rotate(-135deg);
    top: 0; }
  .navigation-checkbox:checked + .navigation-button .navigation-icon::before {
    transform: rotate(135deg);
    top: 0; }

.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup:target .popup-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .popup-content {
    width: 75%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s 0.2s ease;
    display: flex;
    align-items: stretch; }
    @media screen and (max-width: 38em) {
      .popup-content {
        flex-direction: column; } }
    .popup-content .popup-left {
      flex: 0 0 30%;
      display: flex;
      flex-direction: column; }
      @media screen and (max-width: 38em) {
        .popup-content .popup-left {
          flex-direction: row; } }
      .popup-content .popup-left .popup-img {
        width: 100%; }
        @media screen and (max-width: 38em) {
          .popup-content .popup-left .popup-img {
            width: 50%; } }
    .popup-content .popup-right {
      flex: 0 0 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 3rem 5rem; }
      @media screen and (max-width: 38em) {
        .popup-content .popup-right {
          flex-grow: 3; } }
      .popup-content .popup-right .popup-text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-gap: 4rem;
        -moz-column-count: 2;
        -moz-column-rule: 2;
        column-count: 2;
        column-rule: 1px solid #eee;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto; }
  .popup-close:link, .popup-close:visited {
    color: inherit;
    text-decoration: none;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    display: inline-block;
    line-height: 1; }
  .popup-close:hover, .popup-close:active {
    color: #55c57a; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 5rem;
  margin-top: -20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8rem; }
  @media screen and (max-width: 38em) {
    .section-about {
      padding: 15rem 4rem 45rem; } }
  .section-about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 8rem; }
    @media screen and (max-width: 38em) {
      .section-about-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5rem; } }
    .section-about-content-text {
      align-self: stretch;
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      row-gap: 2rem; }

.section-features {
  display: flex;
  justify-content: center;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.808), rgba(40, 180, 133, 0.774)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg) translateY(-8.2rem); }
  .section-features-container {
    display: flex;
    width: 70%;
    max-width: 120rem;
    column-gap: 6rem;
    justify-content: center;
    align-items: stretch; }
    @media screen and (max-width: 69em) {
      .section-features-container {
        width: 100%;
        column-gap: 2rem; } }
    @media screen and (max-width: 38em) {
      .section-features-container {
        width: 70%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 2rem; } }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 15rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20rem;
  row-gap: 8rem; }
  .section-tours-container {
    width: 70%;
    max-width: 120rem;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    column-gap: 8rem; }
    @media screen and (max-width: 57em) {
      .section-tours-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        row-gap: 2rem; } }

.section-stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15rem 0;
  row-gap: 8rem;
  position: relative;
  overflow: hidden; }
  .section-stories-container {
    width: 75%;
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6rem; }
    @media screen and (max-width: 38em) {
      .section-stories-container {
        width: 100%; } }

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.booking {
  width: 85%;
  max-width: 120rem;
  background-image: linear-gradient(105deg, white 0%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.6) 50%, transparent 50%, transparent), url(./../img/nat-10.jpg);
  background-size: cover;
  margin: auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px; }
  @media screen and (max-width: 57em) {
    .booking {
      background-image: linear-gradient(105deg, white 0%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.6) 70%, transparent 70%, transparent), url(./../img/nat-10.jpg); } }
  @media screen and (max-width: 38em) {
    .booking {
      width: 100%;
      background-image: linear-gradient(105deg, white 0%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.6) 80%, transparent 80%, transparent), url(./../img/nat-10.jpg); } }
  .booking-form-container {
    width: 50%;
    padding: 6rem; }
    @media screen and (max-width: 57em) {
      .booking-form-container {
        width: 80%; } }
    @media screen and (max-width: 38em) {
      .booking-form-container {
        width: 100%; } }
