// COLORS

$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;

$color-grey-light-1: #f7f7f7;

$dark-grey: #777;
$white: #fff;
$black: #000;

// GRID
$grid-width: 114rem;
$row-gap: 6rem;
$column-gap: 8rem;
