.card {
  perspective: 130rem;
  -moz-perspective: 130rem;
  position: relative;
  height: 50rem;
  flex: 1 1;

  &-side-a {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.8s ease;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
    border-radius: 3px;
  }

  &-side-b {
    transform: rotateY(180deg);
    transition: all 0.8s ease;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
    border-radius: 3px;

    &.card-1 {
      background-image: linear-gradient(
        to bottom right,
        $secondary-color-light,
        $secondary-color-dark
      );
    }

    &.card-2 {
      background-image: linear-gradient(
        to bottom right,
        $primary-color-light,
        $primary-color-dark
      );
    }

    &.card-3 {
      background-image: linear-gradient(
        to bottom right,
        $tertiary-color-light,
        $tertiary-color-dark
      );
    }
  }

  &:hover &-side-a {
    transform: rotateY(180deg);
  }

  &:hover &-side-b {
    transform: rotateY(0);
  }
}
