.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-color-light, 0.808),
      rgba($primary-color-dark, 0.774)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative;

  @media screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-resolution: 192dpi) and (min-width: 37.5em),
    (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($primary-color-light, 0.808),
        rgba($primary-color-dark, 0.774)
      ),
      url(../img/hero.jpg);
  }

  @include respond(38em) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 65vh, 0% 100%);
    height: 75vh;
  }

  &-logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
}

.logo {
  height: 3.5rem;
}

.header-text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
