.navigation {
  &-checkbox {
    display: none;
  }

  &-button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    z-index: 100;
    position: fixed;
    top: 6rem;
    right: 6rem;
    box-shadow: 0 1rem 3rem rgba($black, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &-background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(
      $primary-color-light,
      $primary-color-dark
    );
    position: fixed;
    z-index: 98;
    top: 6.5rem;
    right: 6.5rem;
    transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &-nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &-list {
    list-style: none;
    text-align: center;
  }

  &-item {
    margin: 1rem;
  }

  &-link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      color: #fff;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #fff 50%
      );
      background-size: 250%;
      transition: all 0.4s ease;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $primary-color;
      transform: translateX(1rem);
    }

    span {
      margin-right: 1.5rem;
    }
  }

  &-checkbox:checked ~ &-background {
    transform: scale(80);
  }

  &-checkbox:checked ~ &-nav {
    visibility: visible;
    opacity: 1;
  }

  &-icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s ease;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &-button:hover &-icon {
    &::before {
      top: -1.1rem;
    }

    &::after {
      top: 1.1rem;
    }
  }

  &-checkbox:checked + &-button &-icon {
    background-color: transparent;
  }

  &-checkbox:checked + &-button &-icon::after {
    transform: rotate(-135deg);
    top: 0;
  }

  &-checkbox:checked + &-button &-icon::before {
    transform: rotate(135deg);
    top: 0;
  }
}
