.story {
  width: 100%;
  box-shadow: 0 3rem 6rem rgba($black, 0.1);
  background-color: rgba($white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  &-shape {
    position: relative;
    float: left;
    height: 15rem;
    width: 15rem;
    -webkit-clip-path: circle(50% at 50% 50%);

    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    margin-right: 2rem;

    &-image {
      height: 100%;
      transform: translateX(-4rem) scale(1.2);
      backface-visibility: hidden;
      transition: all 0.5s ease;
    }

    .story-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%);
      color: #fff;
      text-transform: uppercase;
      font-size: 1.7rem;
      opacity: 0;
      text-align: center;
      transition: all 0.5s ease;
      backface-visibility: hidden;
    }
  }

  &-text {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &:hover .story-caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &-shape-image {
    transform: translateX(-4rem) scale(1);
    filter: blur(2px) brightness(85%);
  }
}
