* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  @include respond-bigger(112em) {
    font-size: 75%;
  }

  @include respond(82em) {
    font-size: 56.25%;
  }

  @include respond(69em) {
    font-size: 52%;
  }

  @include respond(57em) {
    font-size: 50%;
  }

  @include respond(44em) {
    font-size: 45%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(69em) {
    padding: 0;
  }
}
