body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $dark-grey;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    $primary-color-light,
    $primary-color-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  transition: all 0.3s;
  backface-visibility: hidden;

  @include respond(44em) {
    font-size: 3rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(2deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba($black, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
